<style>
    * {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }
    
    .cube {
        width: 150px;
        height: 150px;
        position: relative;
        margin: 30px auto;
        -webkit-transform-style: preserve-3d;
        transform-style: preserve-3d;
    }
    
    .face {
        width: 150px;
        height: 150px;
        position: absolute;
        font-size: 80px;
        text-align: center;
        line-height: 150px;
        background-color: #999999;
        box-shadow: inset 0 0 20px #333333;
        opacity: 0.6;
    }
    
    .cube .one {
        -webkit-transform: translateZ(75px);
        transform: translateZ(75px);
    }
    
    .cube .two {
        -webkit-transform: rotateY(90deg) translateZ(75px);
        transform: rotateY(90deg) translateZ(75px);
    }
    
    .cube .three {
        -webkit-transform: rotateY(180deg) translateZ(75px);
        transform: rotateY(180deg) translateZ(75px);
    }
    
    .cube .four {
        -webkit-transform: rotateY(-90deg) translateZ(75px);
        transform: rotateY(-90deg) translateZ(75px);
    }
    
    .cube .five {
        -webkit-transform: rotateX(90deg) translateZ(75px);
        transform: rotateX(90deg) translateZ(75px);
    }
    
    .cube .six {
        -webkit-transform: rotateX(-90deg) translateZ(75px) rotate(0deg);
        transform: rotateX(-90deg) translateZ(75px) rotate(0deg);
    }
    
    .value {
        font-weight: bold;
    }
    
    .author {
        display: block;
        margin-top: 1em;
    }
</style>
<div class="w3-container">
    <div class="row animated fadeIn">
        <div class="col-12">
            <div class="card m-b-0">
                <!-- .chat-row -->
                <div class="chat-main-box">

                    <div class="chat-right-aside">

                        <div class="chat-rbox" width="850" height="800">
                            <div *ngFor="let msg of mensajes">
                                <ul class="chat-list p-20" id="divChatbox1">

                                    <div *ngIf=" msg.de === 'yo' ; else elseBlock">
                                        <li class="reverse">
                                            <div class="chat-content">
                                                <h5>{{msg.de}}</h5>
                                                <div class="box bg-light-inverse">{{msg.cuerpo}}</div>
                                                <!-- <div class="chat-img"><img [src]="msg.img | imagen:'usuario'" class="img-50 img-circle"></div> -->
                                            </div>
                                            <!-- <div class="chat-time"> {{hora}} </div> -->
                                        </li>
                                    </div>
                                    <ng-template #elseBlock>
                                        <li class="animated fadeIn">
                                            <!--   <div *ngIf="msg.de === 'Administrador'; else elseBlock">
                                          <div class="chat-img"><img src="/assets/images/big/img2.jpg" alt="user" /></div>
                                          <div class="chat-content">
                                              <h5> {{msg.de}} </h5>
                                              <div class="box bg-light-danger"> {{msg.cuerpo}} </div>
                                          </div>
                                      </div>
                                      <ng-template #elseBlock> -->
                                            <!-- <div class="chat-img"><img [src]="msg.img | imagen:'usuario'" class="img-50 img-circle"></div> -->
                                            <div class="chat-content">
                                                <h5> {{msg.de}} </h5>
                                                <div class="box bg-light-inverse"> {{msg.cuerpo}} </div>
                                            </div>
                                            <!-- </ng-template> -->
                                            <!-- <div class="chat-time"> {{hora}} </div> -->
                                        </li>
                                    </ng-template>
                                </ul>
                            </div>
                        </div>

                    </div>
                    <!-- .chat-right-panel -->
                </div>

                <!-- /.chat-row -->
            </div>

        </div>

    </div>
</div>
<div class="footerInput">
    <div class="card">
        <div class="card-body-InputChat">
            <form (ngSubmit)="enviar()">
                <div class="row">
                    <div class="col-9 text-right">
                        <input type="text" [(ngModel)]="texto" autocomplete="off" name="texto" placeholder="Escribe tu mensaje aquí" class="form-control b-0" autofocus>
                    </div>
                    <div class="col-1 text-right">
                        <button type="submit" class="btn btn-info btn-circle btn-lg"><i class="fa fa-paper-plane-o"></i> </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="card">
    <div class="card-body">

        <h4 class="card-title">Estado = {{ estado }} </h4>
        <br>
        <!--
        <label form="customRange1">Frecuencia</label>
        <input #txtFrecuencia type="range" class="striped" min="45" max="150" value="frecuencia" step="1" name="frecuencia" [(ngModel)]="frecuencia" (ngModelChange)="onChanges($event)" id="customRange1">

        <label form="customRange2">LongPulse</label>
        <input #txtLongPulse type="range" class="striped" min="1" max="99" value="LongPulse" step="1" name="LongPulse" [(ngModel)]="LongPulse" (ngModelChange)="onChanges1($event)" id="customRange2">
        <h4 class="card-title">Sensor 2 = {{ progreso2 }} </h4>
        <br>
        <div class="progress-bar progress-bar-striped progress-bar-animated bg-success" role="progressbar" [attr.ariaValuenow]="progreso2 - 600" aria-valuenow="50" aria-valuemin="0" aria-valuemax="600" [style.width]="progreso2 + '%'"></div>
        <h4 class="card-title">LongPulse 2 = {{ progreso2r }} </h4>
        <br>
        <div class="progress-bar progress-bar-striped progress-bar-animated bg-success" role="progressbar" [attr.ariaValuenow]="progreso2r - 90" aria-valuenow="50" aria-valuemin="0" aria-valuemax="99" [style.width]="progreso2r + '%'"></div>
        <br>
        <label form="customRange3">marcha</label>
        <input #txtDir type="range" class="striped" min="-90" max="90" value="dir" step="1" name="dir" [(ngModel)]="dir" (ngModelChange)="onChanges2($event)" id="customRange3">
        <label form="customRange4">sentido</label>
        <input #txtSen type="range" class="striped" min="-90" max="90" value="sen" step="1" name="sen" [(ngModel)]="sen" (ngModelChange)="onChanges3($event)" id="customRange4"> -->
        <h4 type="text" class="card-title">beta1: {{ beta1 }} </h4>
        <div class="progress-bar progress-bar-striped progress-bar-animated bg-success" role="progressbar" [attr.ariaValuenow]="beta1" aria-valuenow="50" aria-valuemin="-180" aria-valuemax="360" [style.width]="beta1 + '%'"></div>
        <h4 type="text" class="card-title">gamma1: {{ gamma1 }} </h4>
        <div class="progress-bar progress-bar-striped progress-bar-animated bg-success" role="progressbar" [attr.ariaValuenow]="gamma1" aria-valuenow="50" aria-valuemin="-180" aria-valuemax="360" [style.width]="gamma1 + '%'"></div>
        <h4 type="text" class="card-title">alpha1: {{ alpha1 }} </h4>
        <div class="progress-bar progress-bar-striped progress-bar-animated bg-success" role="progressbar" [attr.ariaValuenow]="alpha1" aria-valuenow="50" aria-valuemin="-180" aria-valuemax="360" [style.width]="alpha1 + '%'"></div>
        <br>
        <div class="cube"></div>
        <!-- <h4 type="text" class="card-title">accelerationx {{ accelerationx }} </h4>
        <div class="progress-bar progress-bar-striped progress-bar-animated bg-success" role="progressbar" [attr.ariaValuenow]="accelerationx" aria-valuenow="50" aria-valuemin="-180" aria-valuemax="360" [style.width]="accelerationx + '%'"></div>
        <h4 type="text" class="card-title">accelerationy {{ accelerationy }} </h4>
        <div class="progress-bar progress-bar-striped progress-bar-animated bg-success" role="progressbar" [attr.ariaValuenow]="accelerationy" aria-valuenow="50" aria-valuemin="-180" aria-valuemax="360" [style.width]="accelerationy + '%'"></div>
        <h4 type="text" class="card-title">accelerationz {{ accelerationz }} </h4>
        <div class="progress-bar progress-bar-striped progress-bar-animated bg-success" role="progressbar" [attr.ariaValuenow]="accelerationz" aria-valuenow="50" aria-valuemin="-180" aria-valuemax="360" [style.width]="accelerationy + '%'"></div>
        <br>
        <h4 type="text" class="card-title">accelerationincludinggravityx {{ accelerationincludinggravityx }} </h4>
        <div class="progress-bar progress-bar-striped progress-bar-animated bg-success" role="progressbar" [attr.ariaValuenow]="accelerationincludinggravityx" aria-valuenow="50" aria-valuemin="-180" aria-valuemax="360" [style.width]="accelerationincludinggravityx + '%'"></div>
        <h4 type="text" class="card-title">accelerationincludinggravityy {{ accelerationincludinggravityy }} </h4>
        <div class="progress-bar progress-bar-striped progress-bar-animated bg-success" role="progressbar" [attr.ariaValuenow]="accelerationincludinggravityy" aria-valuenow="50" aria-valuemin="-180" aria-valuemax="360" [style.width]="accelerationincludinggravityy + '%'"></div>
        <h4 type="text" class="card-title">accelerationincludinggravityz {{ accelerationincludinggravityz }} </h4>
        <div class="progress-bar progress-bar-striped progress-bar-animated bg-success" role="progressbar" [attr.ariaValuenow]="accelerationincludinggravityz" aria-valuenow="50" aria-valuemin="-180" aria-valuemax="360" [style.width]="accelerationincludinggravityz + '%'"></div>
        <br>
        <h4 type="text" class="card-title">rotationratebeta {{ rotationratebeta }} </h4>
        <div class="progress-bar progress-bar-striped progress-bar-animated bg-success" role="progressbar" [attr.ariaValuenow]="rotationratebeta" aria-valuenow="50" aria-valuemin="-180" aria-valuemax="360" [style.width]="rotationratebeta + '%'"></div>
        <h4 type="text" class="card-title">rotationrategamma {{ rotationrategamma }} </h4>
        <div class="progress-bar progress-bar-striped progress-bar-animated bg-success" role="progressbar" [attr.ariaValuenow]="rotationrategamma" aria-valuenow="50" aria-valuemin="-180" aria-valuemax="360" [style.width]="rotationrategamma + '%'"></div>
        <h4 type="text" class="card-title">rotationratealpha {{ rotationratealpha }} </h4>
        <div class="progress-bar progress-bar-striped progress-bar-animated bg-success" role="progressbar" [attr.ariaValuenow]="rotationratealpha" aria-valuenow="50" aria-valuemin="-180" aria-valuemax="360" [style.width]="rotationratealpha + '%'"></div> -->

    </div>
</div>

<canvas id="myCanvas" width="360" height="450" style="border:1px solid #d3d3d3;">
</canvas>
<script>
    var c = document.getElementById("myCanvas");
    var ctx = c.getContext("2d");

    ctx.clearRect(0, 0, c.width, c.height);
    ctx.fillStyle = "#FF7777";
    ctx.font = "14px Verdana";
    ctx.fillText("Alpha: " + Math.Round(alpha1), 10, 20);
    ctx.beginPath();
    ctx.moveTo(180, 75);
    ctx.lineTo(210, 75);
    ctx.arc(180, 75, 60, 0, alpha1 * Math.PI / 180);
    ctx.fill();

    ctx.fillStyle = "#FF6600";
    ctx.fillText("Beta: " + Math.round(beta1), 10, 140);
    ctx.beginPath();
    ctx.fillRect(180, 150, beta1, 90);

    ctx.fillStyle = "#FF0000";
    ctx.fillText("Gamma: " + Math.round(gamma1), 10, 270);
    ctx.beginPath();
    ctx.fillRect(90, 340, 180, gamma1);
</script>
<!-- <script>
var s$ = function(e) {
  return document.getElementById(e);
};


if (window.DeviceMotionEvent) {
  alert('devicemotion supported');
  window.addEventListener('devicemotion', function(ev) {
      var acc = ev.accelerationIncludingGravity;
      dmHdlr(acc.x, acc.y, acc.z);
  }, false);
} else {
  alert("devicemotion not supported on your device or browser.");
}


var lastDM = new Date().getTime();

function dmHdlr(aX, aY, aZ) {
  var currDM = new Date().getTime();
  //if (currDM < lastDM + 1000) {return;}
  lastDM = currDM;

  s$('aX').innerHTML = aX ? aX.toFixed(3) : '?';
  s$('aY').innerHTML = aY ? aY.toFixed(3) : '?';
  s$('aZ').innerHTML = aZ ? aZ.toFixed(3) : '?';
}
</script> -->
<!-- <h3>
{{ progreso1 }}
</h3>

<label form="customRange1">progreso1</label>
<input #txtProgress1 type="range" class="striped" min="1" max="600" value="progreso" step="1" name="progreso1" [(ngModel)]="progreso1" id="customRange1">

<h3>
{{ progreso2 }}
</h3>

<label form="customRange2">progreso2</label>
<input #txtProgress2 type="range" class="striped" min="1" max="600" value="progreso" step="1" name="progreso2" [(ngModel)]="progreso2" id="customRange2"> -->
<!-- <script src="../jquery.min.js"></script> -->




<!-- <!doctype html>
<html>
<head>
<title>Multi Mouse - How many mice can I mouse eater eat?</title> -->
<!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.min.js"></script>    -->
<!-- <script src="/json.js"></script> for ie -->
<!-- <script src="socket.io/socket.io.js"></script> sockets -->
<!-- </head>
<body>
<h1> You can see my mouse!! ZOMG - <a href="http://www.youtube.com/watch?v=aFLcbBvTGns">Video explaining why I'm doign this</a></h1>



<div id="chat"><p>Connecting...</p></div>
<form id="form" onsubmit="send(); return false">
<input type="text" autocomplete="off" id="text"><input type="submit" value="Send">
</form>

<style>
.dot { height: 10px; width: 10px; background-color:#000000;position:absolute;left:0;top:0;}
</style>

</body>
</html> -->