<div class="w3-container">
    <div class="row animated fadeIn">
        <div class="col-12">
            <div class="card m-b-0">
                <!-- .chat-row -->
                <div class="chat-main-box">

                    <div class="chat-right-aside">

                        <div class="chat-rbox" width="850" height="800">
                            <div *ngFor="let msg of mensajes">
                                <ul class="chat-list p-20" id="divChatbox">

                                    <div *ngIf=" msg.de === 'yo' ; else elseBlock">
                                        <li class="reverse">
                                            <div class="chat-content">
                                                <h5>{{msg.de}}</h5>
                                                <div class="box bg-light-inverse">{{msg.cuerpo}}</div>
                                                <div class="chat-img"><img [src]="msg.img | imagen:'usuario'" class="img-50 img-circle"></div>
                                            </div>
                                            <!-- <div class="chat-time"> {{hora}} </div> -->
                                        </li>
                                    </div>
                                    <ng-template #elseBlock>
                                        <li class="animated fadeIn">
                                            <!--   <div *ngIf="msg.de === 'Administrador'; else elseBlock">
                                                <div class="chat-img"><img src="public/assets/images/big/img2.jpg" alt="user" /></div>
                                                <div class="chat-content">
                                                    <h5> {{msg.de}} </h5>
                                                    <div class="box bg-light-danger"> {{msg.cuerpo}} </div>
                                                </div>
                                            </div>
                                            <ng-template #elseBlock> -->
                                            <div class="chat-img"><img [src]="msg.img | imagen:'usuario'" class="img-50 img-circle"></div>
                                            <div class="chat-content">
                                                <h5> {{msg.de}} </h5>
                                                <div class="box bg-light-inverse"> {{msg.cuerpo}} </div>
                                            </div>
                                            <!-- </ng-template> -->
                                            <!-- <div class="chat-time"> {{hora}} </div> -->
                                        </li>
                                    </ng-template>
                                </ul>
                            </div>
                        </div>

                    </div>
                    <!-- .chat-right-panel -->
                </div>

                <!-- /.chat-row -->
            </div>

        </div>

    </div>
</div>
<div class="footerInput">
    <div class="card">
        <div class="card-body-InputChat">
            <form (ngSubmit)="enviar()">
                <div class="row">
                    <div class="col-9 text-right">
                        <input type="text" [(ngModel)]="texto" autocomplete="off" name="texto" placeholder="Escribe tu mensaje aquí" class="form-control b-0" autofocus>
                    </div>
                    <div class="col-1 text-right">
                        <button type="submit" class="btn btn-info btn-circle btn-lg"><i class="fa fa-paper-plane-o"></i> </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-8">
        <div class="card">
            <div class="card-body">

                <h4 class="card-title">Sensor 1 = {{ progreso1 }} </h4>
                <br>
                <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" [attr.ariaValuenow]="progreso1 - 600" aria-valuenow="50" aria-valuemin="0" aria-valuemax="600" [style.width]="progreso1 + '%'"></div>

                <h4 class="card-title">Long Pulse 1 = {{ progreso1r }} </h4>
                <br>
                <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" [attr.ariaValuenow]="progreso1r - 90" aria-valuenow="50" aria-valuemin="0" aria-valuemax="99" [style.width]="progreso1r + '%'"></div>


                <label form="customRange1">Frecuencia</label>
                <input #txtFrecuencia type="range" class="striped" min="45" max="150" value="frecuencia" step="1" name="frecuencia" [(ngModel)]="frecuencia" (ngModelChange)="onChanges($event)" id="customRange1">

                <label form="customRange2">LongPulse</label>
                <input #txtLongPulse type="range" class="striped" min="1" max="99" value="LongPulse" step="1" name="LongPulse" [(ngModel)]="LongPulse" (ngModelChange)="onChanges1($event)" id="customRange2">
                <h4 class="card-title">Sensor 2 = {{ progreso2 }} </h4>
                <br>
                <div class="progress-bar progress-bar-striped progress-bar-animated bg-success" role="progressbar" [attr.ariaValuenow]="progreso2 - 600" aria-valuenow="50" aria-valuemin="0" aria-valuemax="600" [style.width]="progreso2 + '%'"></div>
                <h4 class="card-title">LongPulse 2 = {{ progreso2r }} </h4>
                <br>
                <div class="progress-bar progress-bar-striped progress-bar-animated bg-success" role="progressbar" [attr.ariaValuenow]="progreso2r - 90" aria-valuenow="50" aria-valuemin="0" aria-valuemax="99" [style.width]="progreso2r + '%'"></div>
                <br>
                <label form="customRange3">marcha</label>
                <input #txtDir type="range" class="striped" min="-90" max="90" value="dir" step="1" name="dir" [(ngModel)]="dir" (ngModelChange)="onChanges2($event)" id="customRange3">
                <label form="customRange4">sentido</label>
                <input #txtSen type="range" class="striped" min="-90" max="90" value="sen" step="1" name="sen" [(ngModel)]="sen" (ngModelChange)="onChanges3($event)" id="customRange4">

            </div>
        </div>
    </div>
</div>
<span id="do-unsupported" class="api-support hidden">deviceorientation event not supported</span>
<span id="dm-unsupported" class="api-support hidden">devicemotion event not supported</span>
<span id="cnc-unsupported" class="api-support hidden">compassneedscalibration event not supported</span>

<div id="do-results">
    <div id="cube" class="cube">
        <div class="face one">1</div>
        <div class="face two">2</div>
        <div class="face three">3</div>
        <div class="face four">4</div>
        <div class="face five">5</div>
        <div class="face six">6</div>
    </div>
    <div id="do-info" class="hidden">
        <p>
            Coordinates: (
            <span id="beta" class="value">null</span>,
            <span id="gamma" class="value">null</span>,
            <span id="alpha" class="value">null</span>)
            <br /> Position absolute? <span id="is-absolute" class="value">unavailable</span>
        </p>
    </div>
    <div id="dm-info" class="hidden">
        <p>
            Acceleration: (
            <span id="acceleration-x" class="value">null</span>,
            <span id="acceleration-y" class="value">null</span>,
            <span id="acceleration-z" class="value">null</span>) m/s
            <sup>2</sup>
        </p>
        <p>
            Acceleration including gravity: (
            <span id="acceleration-including-gravity-x" class="value">null</span>,
            <span id="acceleration-including-gravity-y" class="value">null</span>,
            <span id="acceleration-including-gravity-z" class="value">null</span>) m/s
            <sup>2</sup>
        </p>
        <p>
            Rotation rate: (
            <span id="rotation-rate-beta" class="value">null</span>,
            <span id="rotation-rate-gamma" class="value">null</span>,
            <span id="rotation-rate-alpha" class="value">null</span>)
        </p>
        <p>
            Interval: <span id="interval" class="value">0</span> milliseconds
        </p>
    </div>
</div>

<small class="author">
         Demo created by <a href="https://www.audero.it">Aurelio De Rosa</a>
         (<a href="https://twitter.com/AurelioDeRosa">@AurelioDeRosa</a>).<br />
         This demo is part of the <a href="https://github.com/AurelioDeRosa/HTML5-API-demos">HTML5 API demos repository</a>.
      </small>