<div class="row">
    <div class="col-3">
        <div class="card">
            <div id="chat-usuarios" class="card-body">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>Foto</th>
                            <th>usuario</th>
                            <th>sala</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let usuario of usuarios">
                            <td class="w70">
                                <img [src]="usuario.img | imagen:'usuario'" class="img-50 img-circle">
                            </td>
                            <td>
                                {{usuario.nombre}}
                            </td>
                            <td>
                                {{usuario.sala}}
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <form #f="ngForm" (ngSubmit)="seleccionSala(f)">
            <div class="form-group">
                <select (change)="cambioSala( $event.target.value )" [(ngModel)]="sala" name="sala" class="form-control" required>
                    <option value="">Selecione la sala</option>
                    <option *ngFor="let sala of salas" [value]="sala">{{sala}}</option>
                  </select>
            </div>

            <button type="submit" class="btn btn-success waves-effect waves-light m-r-10">
                Guardar
              <i class="fa fa-save"></i>
      </button>

        </form>
    </div>

    <div class="col-9">
        <div class="card">
            <div class="card-body">
                <app-chat></app-chat>
            </div>
        </div>
    </div>

</div>