<div class="row">
    <div *ngIf=" graficos[0].leyenda === 'testa16' ; else elseBlock">

        <div class="col-6">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">{{ graficos[0].leyenda }} </h4>

                    <app-grafico-dona [chartLabels]="graficos[0].labels" [chartData]="graficos[0].data" chartType="doughnut"></app-grafico-dona>

                </div>
            </div>
        </div>
    </div>
    <ng-template #elseBlock>
        <div class="col-6">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">{{ graficos[0].leyendaDefault }} </h4>

                    <app-grafico-dona [chartLabels]="graficos[0].labels" [chartData]="graficos[0].dataDefault" chartType="doughnut"></app-grafico-dona>

                </div>
            </div>
        </div>
    </ng-template>


    <div *ngIf="graficos[1].leyenda === 'ignacio1' ; else elseBlock">

        <div class="col-6">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">{{ graficos[1].leyenda }} </h4>

                    <app-grafico-dona [chartLabels]="graficos[1].labels" [chartData]="graficos[1].data" chartType="doughnut"></app-grafico-dona>

                </div>
            </div>
        </div>
    </div>
    <ng-template #elseBlock>
        <div class="col-6">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">{{ graficos[1].leyendaDefault }} </h4>

                    <app-grafico-dona [chartLabels]="graficos[1].labels" [chartData]="graficos[1].dataDefault" chartType="doughnut"></app-grafico-dona>

                </div>
            </div>
        </div>
    </ng-template>

</div>


<div class="row">
    <div *ngIf=" graficos[2].leyenda === 'ignacio1' ; else elseBlock">

        <div class="col-6">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">{{ graficos[2].leyenda }} </h4>

                    <app-grafico-dona [chartLabels]="graficos[2].labels" [chartData]="graficos[2].data" chartType="doughnut"></app-grafico-dona>

                </div>
            </div>
        </div>
    </div>
    <ng-template #elseBlock>
        <div class="col-6">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">{{ graficos[2].leyendaDefault }} </h4>

                    <app-grafico-dona [chartLabels]="graficos[2].labels" [chartData]="graficos[2].dataDefault" chartType="doughnut"></app-grafico-dona>

                </div>
            </div>
        </div>
    </ng-template>


    <div *ngIf=" graficos[3].leyenda === 'ignacio1' ; else elseBlock">

        <div class="col-6">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">{{ graficos[3].leyenda }} </h4>

                    <app-grafico-dona [chartLabels]="graficos[3].labels" [chartData]="graficos[3].data" chartType="doughnut"></app-grafico-dona>

                </div>
            </div>
        </div>
    </div>
    <ng-template #elseBlock>
        <div class="col-6">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">{{ graficos[3].leyendaDefault }} </h4>

                    <app-grafico-dona [chartLabels]="graficos[3].labels" [chartData]="graficos[3].dataDefault" chartType="doughnut"></app-grafico-dona>

                </div>
            </div>
        </div>
    </ng-template>

</div>